# Docker compose

COMPOSE_PROJECT_NAME=auth_flow

# Application

API_URL=http://localhost
API_PORT=3333

# JWT Authentication

JWT_AUTH_SECRET=galinhacomquiabo # (Random string/hash)

# Database

DATABASE_HOST=auth_flow_database
DATABASE_PORT=5432
DATABASE_USER= # (Your database user)
DATABASE_PASS= # (Your database password)
DATABASE_NAME= # (Your database name)
